.cell {
  width: 30px;
  height: 30px;
  border: 1px dashed lightcoral;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell--snake {
  background-color: green;
  border: 1px solid greenyellow;
}

.cell--dead-snake {
  background-color: red;
}

.cell--food {
  background-color: tomato;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
