.cell {
  width: 10px;
  height: 10px;
  border: 1px dashed lightcoral;
  background-color: black;
  display: flex;
}

.cell--snake {
  background-color: greenyellow;
}

.cell--food {
  background-color: tomato;
}
